.partial {
  width: 100%;
  min-height: 100%;
  box-shadow: 0 0 10px 1px;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.outletOptions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  justify-content: start;
  gap: 1.5rem;
}

.optionCard {
  width: 100%;
  aspect-ratio: 1/1.1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(106, 137, 167);
  border: 3px solid black;
  transition: transform 0.2s ease, background-color 0.2s ease;
  font-size: large;
  color: black;
  text-decoration: none;
  gap: 0.5rem;
  word-break: break-word;
}

.optionCard:hover,
.optionCard:focus {
  background-color: rgb(106, 137, 167, 0.8);
  transform: scale(1.05);
}

.optionCard .icon {
  width: 50%;
  max-width: 8rem;
  height: auto;
}

.backArrow {
  height: 2rem;
  padding: 0.2rem 0.5rem;
  box-sizing: content-box;
  border-radius: 5px;
  transition: transform 0.15s ease, background-color 0.15s ease
}

.backArrow:hover,
.backArrow:focus {
  transform: scale(1.05);
  background-color: rgb(255, 255, 255, 0.2);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  flex: 1;
}

.messageWrapper {
  max-width: max(300px, 45%);
  width: fit-content;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}

.messageWrapper.received .details {
  align-items: flex-end;
}

.messageWrapper .details {
  font-size: small;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.messageWrapper .flex {
  justify-content: start;
  align-items: end;
}

.messageWrapper.sent {
  align-self: flex-end;
}

.messageWrapper.sent .flex {
  flex-direction: row-reverse;
  justify-content: end;
}

.message {
  padding: 0.5rem 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  word-break: break-all;
}

.message.received {
  background-color: rgb(34, 197, 94, 0.4);
  color: #ddd;
  border-radius: 20px 5px 5px 2px;
}

.message.sent {
  background-color: #5865f2;
  color: #ddd;
  border-radius: 5px 20px 2px 5px;
}

.sendMessage {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: sticky;
  bottom: -1rem;
  background-color: rgb(17 24 39);
  padding: 0.5rem;
  padding-top: 0;
}

.sendMessage input {
  flex: 1;
  height: 4rem;
  font-size: 1.5rem;
}

.sendMessage img,
.choseRequests img {
  height: 2rem;
  padding: 0.5rem;
  box-sizing: content-box;
  border-radius: 5px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.sendMessage img:hover,
.sendMessage img:focus,
.choseRequests img:hover,
.choseRequests img:focus {
  transform: scale(1.1);
  background-color: rgb(255, 255, 255, 0.2);
}

.sendMessage img:active,
.choseRequests img:active {
  transform: scale(0.95);
  background-color: rgb(255, 255, 255, 0.3);
}

.loadOldMessagesBtn {
  flex: auto;
  color: white;
  font-size: large;
  background-color: rgb(26 32 44);
  box-shadow: 0 0 5px 0;
  cursor: pointer;
  border: 2px solid rgb(26 32 44);
  border-radius: 5px;
  transition: transform 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

.loadOldMessagesBtn:hover,
.loadOldMessagesBtn:focus {
  background-color: rgb(26 32 44, 0.8);
  border-color: rgb(26 32 44, 0.8);
  box-shadow: 0 0 10px 1px;
  transform: scale(1.01);
}

.loadOldMessagesBtn:active {
  background-color: rgb(26 32 44, 0.6);
  border-color: rgb(26 32 44, 0.6);
  box-shadow: 0 0 5px 0;
  transform: scale(0.99);
}

.optionButtons {
  min-width: 300px;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.optionButton {
  background-color: #4f46e5;
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: large;
  cursor: pointer;
}

.optionButton:hover,
.optionButton:focus {
  background-color: #3b34c3;
}

.nameSearch {
  margin-bottom: 1rem;
}

.choseRequests {
  width: 100%;
  display: flex;
  align-items: center;
}

.choseRequests button {
  flex: 1;
  background-color: rgb(26 32 44);
  color: #5865f2;
  font-size: larger;
  cursor: pointer;
  border: none;
  border: 2px solid black;
  border-radius: 5px;
}

.choseRequests button:hover {
  box-shadow: 0 1px 0 0 white;
}

.choseRequests button.active {
  box-shadow: 0 2px 0 0 #5865f2;
}

.choseRequests img {
  height: 2rem;
  margin-left: 0.5rem;
}

.singleChat {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  gap: 0.2rem;
  text-align: start;
  position: relative;
  min-width: 100px;
  font-size: large;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  justify-content: center;
}

.singleChat .avatars {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 2px 0;
  align-items: center;
}

.singleChat:hover,
.singleChat:focus {
  background-color: rgb(255, 255, 255, 0.2);
}

.messagingOptions {
  justify-content: end;
  display: flex;
  width: 100%;
  height: fit-content;
  gap: 1rem;
}

.viewUsersInChat {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  max-width: 200px;
  min-width: 0;
}

.viewUsersInChat span {
  word-break: break-all;
  white-space: normal;
}

.viewUsersInChat img {
  height: 2rem;
}