.partial {
  width: 100%;
  min-height: 100%;
  box-shadow: 0 0 10px 1px;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.outletOptions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  justify-content: start;
  gap: 1.5rem;
}

.optionCard {
  width: 100%;
  aspect-ratio: 1/1.1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(106, 137, 167);
  border: 3px solid black;
  transition: transform 0.2s ease, background-color 0.2s ease;
  font-size: large;
  color: black;
  text-decoration: none;
  gap: 0.5rem;
  word-break: break-word;
}

.optionCard:hover,
.optionCard:focus {
  background-color: rgb(106, 137, 167, 0.8);
  transform: scale(1.05);
}

.optionCard .icon {
  width: 50%;
  max-width: 8rem;
  height: auto;
}

.backArrow {
  height: 2rem;
  padding: 0.2rem 0.5rem;
  box-sizing: content-box;
  border-radius: 5px;
  transition: transform 0.15s ease, background-color 0.15s ease
}

.backArrow:hover,
.backArrow:focus {
  transform: scale(1.05);
  background-color: rgb(255, 255, 255, 0.2);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  flex: 1;
}

.message {
  max-width: max(300px, 45%);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 5px 20px 2px 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.message.received {
  background-color: rgb(34, 197, 94, 0.4);
  color: #ddd;
}

.message.sent {
  background-color: #5865f2;
  color: #ddd;
  align-self: flex-end;
}

.sendMessage {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: sticky;
  bottom: -1rem;
  background-color: rgb(17 24 39);
  padding: 0.5rem;
  padding-top: 0;
}

.sendMessage input {
  flex: 1;
  height: 4rem;
  font-size: 1.5rem;
}

.sendMessage img {
  height: 2rem;
  padding: 0.5rem;
  box-sizing: content-box;
  border-radius: 5px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.sendMessage img:hover,
.sendMessage img:focus {
  transform: scale(1.1);
  background-color: rgb(255, 255, 255, 0.2);
}

.sendMessage img:active {
  transform: scale(0.95);
  background-color: rgb(255, 255, 255, 0.3);
}

.loadOldMessagesBtn {
  background-color: transparent;
  color: white;
  font-size: large;
  background-color: rgb(26 32 44);
  box-shadow: 0 0 5px 0;
  cursor: pointer;
  border: 2px solid rgb(26 32 44);
  border-radius: 10px;
  transition: transform 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
  margin-bottom: 1rem;
}

.loadOldMessagesBtn:hover,
.loadOldMessagesBtn:focus {
  background-color: rgb(26 32 44, 0.8);
  border-color: rgb(26 32 44, 0.8);
  box-shadow: 0 0 10px 1px;
  transform: scale(1.01);
}

.loadOldMessagesBtn:active {
  background-color: rgb(26 32 44, 0.6);
  border-color: rgb(26 32 44, 0.6);
  box-shadow: 0 0 5px 0;
  transform: scale(0.99);
}

.optionButtons {
  max-width: 700px;
  min-width: 300px;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.optionButtons .optionButton {
  background-color: rgb(106, 137, 167);
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: transform 0.15s ease, background-color 0.15s ease;
}

.optionButtons .optionButton:hover,
.optionButtons .optionButton:focus {
  background-color: rgb(106, 137, 167, 0.9);
  transform: scale(1.05);
}